.spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }



  .message-input {
    margin-top: 0px;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: #fff;
  }
