<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/km-hr/3"></ion-back-button>
    </ion-buttons>
    <ion-title>ทรัพยากรบุคคล</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card
    *ngFor="let item of data "
    button
    routerLink="/tabss/tabs/tab1/km-hrdetail/{{item.id}}"
  >
    <img src="https://111loves.com/imgnew/{{item.km_name_img}}" width="100%" />
    <ion-card-header>
      <ion-card-subtitle>
        <ion-icon name="time-outline"></ion-icon>
        {{ item.created_at | date:'short' }}
      </ion-card-subtitle>
      <ion-card-title>{{ item.km_title }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="adjust-text">
        {{ item.km_remark }}
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
