<ion-header hidden>
  <ion-toolbar>

  </ion-toolbar>
</ion-header>

<ion-content class="bg">
  <div  class="spinner-container">
    วันนี้คุณรู้สึกอย่างไร
  </div>
  <div  class="spinner-container">


    <ion-grid>
      <ion-row>
        <ion-col>
          <div>
            <img src="/assets/imgsystem/1.svg" width="80" height="80" alt="" (click)="radioChecked('มีความสุข')">
          </div>
        </ion-col>
        <ion-col>
          <div>
            <img src="/assets/imgsystem/2.svg" width="80" height="80" alt="" (click)="radioChecked('ฉันรู้สึกเฉยๆ')">
          </div>
        </ion-col>
        <ion-col>
          <div>
            <img src="/assets/imgsystem/3.svg" width="80" height="80" alt="" (click)="radioChecked('ฉันรู้สึกไม่ค่อยโอเค')">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
</div>
</ion-content>
