ion-fab {
    bottom: 2%;
    ion-fab-button {
    --box-shadow:0px 5px 9px rgb(224, 224, 224);
  
    }
   
    }


    ion-tab-bar{
       
        border-color:  rgb(197, 197, 197);
        
      }


      
    


      