/* .yourclass{
    --background: none;
    background-image: url('/assets/imgsystem/BG_personal.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100% ;

}


.card {
    background-color: #FFFFFF; // black
    box-shadow: 0px 0px 5px rgb(233, 232, 232);
    
  }

  .chart-container {
    width: 450px;
    height: 450px
}

  .circle-pic{
    width: 150px !important;
    height: 150px !important;
    border-radius: 50%;
   
    border:3px solid rgb(255, 255, 255);
   
   
}

#cart-btn {
    position: relative;
    left: 0;
    right: 0;
    margin:0 auto;
    top:30px;
 }
 
 #cart-badge {
    position: absolute;
    top: 100px;
    right: 0px;
 }

 .scroll-content{
  overflow-y: auto; // or "overflow: auto;"
}

ion-content{

  --ion-background-color:rgb(247, 247, 247);
}
  */


  .message {
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
  }
   
  .my-message {
   
    color: rgb(0, 0, 0);
  }

  .my-message_2 {
    margin-top: 5%;
    background-color:#fd6d6d;
    color: rgb(255, 255, 255);
    width: 74%;
  }


  .message_2 {
    padding: 10px;
    border-radius: 12px;
    margin-bottom: 4px;
    white-space: pre-wrap;
  }


   
  .my-message_other {
    margin-top: 5%;
    background-color:#f1f0f0;
    color: rgb(0, 0, 0);
    width: 74%;
  }


  .message_other {
    padding: 10px;
    border-radius: 12px;
    margin-bottom: -14px;
    white-space: pre-wrap;
    margin-left: 60px;
   
  }


 

  

  .other-message {
   
    color: rgb(0, 0, 0);
  }
   

  .time_other{
    color: #000000;
    float: left;
    font-size: small;
  }
   



  .time {
    color: #000000;
    font-size: small;
  }
   
  .message-input {
    margin-top: 0px;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: #fff;
  }
   
  .msg-btn {
    --padding-start: 0.5em;
    --padding-end: 0.5em;
  }

  .img-bro{
    width: calc(16vw - 4px);
  height: calc(16vw - 4px);
  border-radius: calc(8vw - 2px);
  z-index: 2;
  float: right;
  }
  .img-other{
    border-radius: 50%;
    width: 50px;
    float: left;
  }

  .other{
  padding-left: 51%;
  font-size: 10px;
  margin-top: 0%;
  color: rgb(75, 74, 74);
 }



.avatar {
  width: calc(16vw - 4px);
  height: calc(16vw - 4px);
  border-radius: calc(8vw - 2px);
  z-index: 2;
  float: left;
}

.bro{
  padding-right: 57%;
  font-size: 10px;
  margin-top: -5%;
  color: rgb(75, 74, 74);
  
}







