
  <ion-content >
  
    <ion-list style="margin-top: 10px;">
      <ion-item  *ngFor="let p of menulist"  (click)="ELearningModal()" >
        <div slot="start" > <img src="/assets/icon/icon_e-learning.svg"  width="40px" height="40px"alt=""></div>
        {{p.name_menu}}
      
      </ion-item>
      <ion-item  (click)="change_password()" >
        <div slot="start"> <img src="/assets/icon/icon_repass.svg" width="40px" height="40px" alt=""></div>
        เปลี่ยนรหัสผ่าน
      </ion-item>
      <ion-item (click)="logout()" >
        <div slot="start">   <img src="/assets/icon/icon_out.svg" alt="" width="40px" height="40px"></div>
        ออกจากระบบ
      
      </ion-item>
    
    </ion-list>
    <div style="padding: 10px; text-align: center;">
      <ion-button color="medium"  (click)="dismissModal()">ปิด</ion-button>
    </div>
    <div style="padding: 10px; text-align: center;">
      <p>NGG Happiness Success.</p>
      <p >Powered by  NIO Achievers.</p>
      <p style="color: crimson;">Version  1.0.0</p>
    </div>


  </ion-content>

