ion-card{
    box-shadow:0px 0px 3px rgb(184, 183, 183);
    --border-radius: 0px;
      display: flex;
      flex-direction: column;
      width: 100% !important;
      margin: 0 !important;
      background-color:rgb(255, 255, 255);
    }


    