<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabss"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <img src="/assets/imgsystem/Logo_NID.png" height="100%"/>
      </ion-button>
    </ion-buttons>
    <ion-title>สิทธิประโยชน์ของฉัน</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-grid>
    <ion-row>
      <ion-col size="6"  *ngFor="let p of benefits"   >
        <ion-card style="text-align: center;" button  (click) ="presentModal(p.id,p.name_benefits)">
          <ion-card-content>
           <img src="assets/imgsystem/{{p.icon}}" height="46" >
          </ion-card-content>
          <p class="my-label">
            {{p.name_benefits}} 
           </p>
        </ion-card>
      </ion-col>
    </ion-row>
    
  </ion-grid>

</ion-content>
