<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabss/tabs/chat"></ion-back-button>
    </ion-buttons>
    <ion-title>รายชื่อพนักงาน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
 
  <div class="ion-text-center">
    <h3> ตำแหน่ง {{position}}</h3>
  </div>
  <ion-card
    class="card bg-pro"
    *ngFor="let c of  showe"
    button
    routerLink="/tabss/tabs/chat/profile-st/{{c.Code_Staff}}"
  >
    <img src="https://111loves.com/img/{{c.img}}" class="image_new" />
    <div class="row">
      <p class="adjust-text">{{c.Name_Thai}}</p>
      <p class="adjust-text">{{c.Name_Eng}}</p>
      <p class="adjust-text">{{c.Degree}}</p>
    </div>
  </ion-card>
</ion-content>
