<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabss/tabs/chat"></ion-back-button>
    </ion-buttons>
    <ion-title>รายชื่อพนักงาน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
 
  <div class="ion-text-center">
    <h3> ตำแหน่ง {{position}}</h3>
  </div>

  <ion-list lines="none" style="margin-top: 8px;">
    <ion-item
      *ngFor="let c of  showe"
      button
      routerLink="/tabss/tabs/chat/profile-st/{{c.Code_Staff}}"
    >
      <ion-avatar slot="start">
        <img src="https://111loves.com/img/{{c.img}}" class="image" />
      </ion-avatar>
      <ion-label>
        <h3>{{c.Name_Thai}}</h3>
        <p>{{c.Position}}</p>
        <p>{{c.Degree}}</p>
      </ion-label>
    </ion-item>
  </ion-list> 
</ion-content>
