.card {
    border-radius: 45px;
    height: 93px;
    background-color: white;
    color: #000;
    border-width: 0.5px;
    border-style: solid;
    border-color: #c0bebe;
    border-radius: 48px;
    background-color: white;
    box-shadow: 0px 10px 10px #f0efef;
  }
  
  
  .image_new {
  
    margin: 0px;
    height: 95px;
    width: 95px;
    // border: 2px solid #fff;
    border-radius: 43%;
    box-shadow: 0 0 5px rgb(173, 173, 173);
    display: block;
  
    background-image: url('https://111loves.com/img/user.svg');
  
  }
  
  
  .row {
    margin: -98px;
    padding-left: 205px;
    font-size: 16px;
  }

  ion-header{
    background-color: white;
  }

 