.circle-pic{
    width: 150px !important;
    height: 150px !important;
    border-radius: 50%;
   
    border:3px solid rgb(255, 255, 255);
   
   
}
.spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }