<ion-content>
  <ion-grid class="grid1">
    <div class="row1">
      <div class="img-container">
       
      <label style="font-size: 12px;">NIDPAY</label>  
        <br>
        200.-
      </div>
    </div>
  </ion-grid>

  <ion-slide>
    <div class="contaier-login">
      <ion-row>
        <ion-col>
          <ion-icon
            name="exit-outline"
            style="color: rgb(255, 79, 91); font-size: 30px;"
          ></ion-icon>
          <br />
          การจ่าย
        </ion-col>
        <ion-col>
          <ion-icon
            name="wallet-outline"
            style="color: rgb(255, 79, 91); font-size: 30px;"
          ></ion-icon>
          <br />
          การเติมเงิน
        </ion-col>
        <ion-col>
          <ion-icon name="medal-outline" style="color: rgb(255, 79, 91); font-size: 30px;"></ion-icon>
          <br />
          Rewards
        </ion-col>
      </ion-row>
    </div>
  </ion-slide>

  <div style="justify-content: center; display: flex; margin-top: -120px;">
    <div class="contaier-paylast">
      <ion-list>
        <ion-list-header>
          กิจกรรมล่าสุด
        </ion-list-header>

        <ion-item lines="none">
          <ion-item slot="end">
           +20 บาท
          </ion-item>
          <ion-label>
            <h3>I'm a big deal</h3>
            <p>Listen, I've had a pretty messed up day...</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-item slot="end">
           -20 บาท
          </ion-item>
          <ion-label>
            <h3>I'm a big deal</h3>
            <p>Listen, I've had a pretty messed up day...</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-item slot="end">
            20 บาท
          </ion-item>
          <ion-label>
            <h3>I'm a big deal</h3>
            <p>Listen, I've had a pretty messed up day...</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
