:host{
   
    background: -moz-linear-gradient(45deg, rgb(123, 15, 15) 0%, rgba(171, 21, 21, 0.8) 100%);
    background: -webkit-linear-gradient(45deg, rgb(130, 22, 22) 0%, rgba(174, 18, 18, 0.8) 100%);
    background: linear-gradient(45deg, rgb(136, 8, 8) 0%, rgba(171, 16, 16, 0.8) 100%);
}


.spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }


.grid1 {
    height: 60%;
    padding: 0px;
}


.contaier-login {
    width: 90%;
    font-size: 15px;
    padding: 10px;
    background: #FFFFFF;
    border-radius: 20px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(145, 145, 145, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(111, 111, 111, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(142, 142, 142, 0.75)
}

.contaier-paylast {
    width: 90%;
    background: #FFFFFF;
    padding: 10px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 1px rgba(70, 69, 69, 0.75);
    -moz-box-shadow: 0px 0px 10px 1px rgba(130, 128, 128, 0.75);
    box-shadow: 0px 0px 10px 1px rgba(121, 121, 121, 0.75);

}

.row1 {

    height: 56%;
    background: -moz-linear-gradient(45deg, rgb(123, 15, 15) 0%, rgba(171, 21, 21, 0.8) 100%);
    background: -webkit-linear-gradient(45deg, rgb(130, 22, 22) 0%, rgba(174, 18, 18, 0.8) 100%);
    background: linear-gradient(45deg, rgb(136, 8, 8) 0%, rgba(171, 16, 16, 0.8) 100%);
}

.row2 {
    background: -moz-linear-gradient(45deg, rgb(123, 15, 15) 0%, rgba(171, 21, 21, 0.8) 100%);
    background: -webkit-linear-gradient(45deg, rgb(130, 22, 22) 0%, rgba(174, 18, 18, 0.8) 100%);
    background: linear-gradient(45deg, rgb(136, 8, 8) 0%, rgba(171, 16, 16, 0.8) 100%);

}

.img-container {
    color: #FFFFFF;
    font-weight: bolder;
    text-align: center;
    font-size: 30px;
   



    // align-items: center; this only if you want to vertical align it to the center too
}

.container_wallet{
    color: #FFFFFF;
    font-weight: bolder;
    text-align: center;
    font-size: 50px;
    margin-top: 60px;
}
.img-container_top {
    color: #000000;
    font-weight: bolder;
    margin-top: 0%;

    text-align: center;
    font-size: 30px;



    // align-items: center; this only if you want to vertical align it to the center too
}


ion-icon {
    margin-right: 15px;
}

ion-button {
    margin-top: 5px;
    margin-bottom: 15px;
}

ion-slide {
    width: 100%;
    height: 100%;
    position: absolute !important;
    top: -120px !important;
}



@media (max-height: 667px) {
    .head {
        color: rgb(255, 255, 255);
        font-size: 20px;
    }

    .grid1 {
        height: 60%;
        padding: 0px;
    }

    .grid1 {
        height: 60%;
        padding: 0px;
    }

    .container_wallet{
        color: #FFFFFF;
        font-weight: bolder;
        text-align: center;
        font-size: 40px;
        margin-top: 10px;
    }

    .contaier-login {
        width: 90%;
        font-size: 15px;
        padding: 10px;
        background: #ffffff;
        border-radius: 20px;
        text-align: center;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(145, 145, 145, 0.75);
        -moz-box-shadow: 0px 0px 10px 1px rgba(111, 111, 111, 0.75);
        box-shadow: 0px 0px 10px 1px rgba(142, 142, 142, 0.75)
    }

    .contaier-paylast {
        width: 90%;
        background: #FFFFFF;
        padding: 10px;
        border-radius: 20px;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(70, 69, 69, 0.75);
        -moz-box-shadow: 0px 0px 10px 1px rgba(130, 128, 128, 0.75);
        box-shadow: 0px 0px 10px 1px rgba(121, 121, 121, 0.75);

    }

    .row1 {

        height: 50%;
        background: -moz-linear-gradient(45deg, rgb(123, 15, 15) 0%, rgba(171, 21, 21, 0.8) 100%);
        background: -webkit-linear-gradient(45deg, rgb(130, 22, 22) 0%, rgba(174, 18, 18, 0.8) 100%);
        background: linear-gradient(45deg, rgb(136, 8, 8) 0%, rgba(171, 16, 16, 0.8) 100%);
    }

    .row2 {
        background: -moz-linear-gradient(45deg, rgb(123, 15, 15) 0%, rgba(171, 21, 21, 0.8) 100%);
        background: -webkit-linear-gradient(45deg, rgb(130, 22, 22) 0%, rgba(174, 18, 18, 0.8) 100%);
        background: linear-gradient(45deg, rgb(136, 8, 8) 0%, rgba(171, 16, 16, 0.8) 100%);

    }

    .img-container {
        color: #FFFFFF;
        font-weight: bolder;


        text-align: center;
        font-size: 30px;



        // align-items: center; this only if you want to vertical align it to the center too
    }

    .img-container_top {
        color: #000000;
        font-weight: bolder;
        margin-top: 0%;

        text-align: center;
        font-size: 30px;



        // align-items: center; this only if you want to vertical align it to the center too
    }


    ion-icon {
        margin-right: 15px;
    }

    ion-button {
        margin-top: 5px;
        margin-bottom: 15px;
    }

    ion-slide {
        width: 100%;
        height: 100%;
        position: absolute !important;
        top: -120px !important;
    }


}


@media (max-height: 568px) {
    .head {
        color: rgb(255, 255, 255);
        font-size: 20px;
    }

    .grid1 {
        height: 65%;
        padding: 0px;
    }

    .container_wallet{
        color: #FFFFFF;
        font-weight: bolder;
        text-align: center;
        font-size: 30px;
        margin-top: -10px;
    }

    .contaier-login {
        width: 90%;
        font-size: 15px;
        padding: 10px;
        background: #ffffff;
        border-radius: 20px;
        text-align: center;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(145, 145, 145, 0.75);
        -moz-box-shadow: 0px 0px 10px 1px rgba(111, 111, 111, 0.75);
        box-shadow: 0px 0px 10px 1px rgba(142, 142, 142, 0.75)
    }

    .contaier-paylast {
        width: 90%;
        background: #FFFFFF;
        padding: 10px;
        border-radius: 20px;
        -webkit-box-shadow: 0px 0px 10px 1px rgba(70, 69, 69, 0.75);
        -moz-box-shadow: 0px 0px 10px 1px rgba(130, 128, 128, 0.75);
        box-shadow: 0px 0px 10px 1px rgba(121, 121, 121, 0.75);

    }

    .row1 {

        height: 43%;
        background: -moz-linear-gradient(45deg, rgb(123, 15, 15) 0%, rgba(171, 21, 21, 0.8) 100%);
        background: -webkit-linear-gradient(45deg, rgb(130, 22, 22) 0%, rgba(174, 18, 18, 0.8) 100%);
        background: linear-gradient(45deg, rgb(136, 8, 8) 0%, rgba(171, 16, 16, 0.8) 100%);
    }

    .row2 {
        background: -moz-linear-gradient(45deg, rgb(123, 15, 15) 0%, rgba(171, 21, 21, 0.8) 100%);
        background: -webkit-linear-gradient(45deg, rgb(130, 22, 22) 0%, rgba(174, 18, 18, 0.8) 100%);
        background: linear-gradient(45deg, rgb(136, 8, 8) 0%, rgba(171, 16, 16, 0.8) 100%);

    }

    .img-container {
        color: #FFFFFF;
        font-weight: bolder;


        text-align: center;
        font-size: 30px;



        // align-items: center; this only if you want to vertical align it to the center too
    }

    .img-container_top {
        color: #000000;
        font-weight: bolder;
        margin-top: 0%;

        text-align: center;
        font-size: 30px;



        // align-items: center; this only if you want to vertical align it to the center too
    }


    ion-icon {
        margin-right: 15px;
    }

    ion-button {
        margin-top: 5px;
        margin-bottom: 15px;
    }

    ion-slide {
        width: 100%;
        height: 100%;
        position: absolute !important;
        top: -120px !important;
    }


}