<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid class="grid1">
    <div class="row1">
      <div class="img-container">
        <label class="head">NIDPAY</label>
      </div>
      <div class="container_wallet" *ngIf="!!balancevalue">
        {{balancevalue.BalanceValue}}.-
      </div>
    </div>
  </ion-grid>

  <ion-slide>
    <div class="contaier-login">
      <ion-row>
        <ion-col>
          <div (click)="paywallet()">
          <ion-icon
            name="exit-outline"
            style="color: rgb(255, 79, 91); font-size: 30px;"
          ></ion-icon>
          <br />
          การจ่าย
          </div>
        </ion-col>
        <ion-col>
          <div (click)="addwallet()">
          <ion-icon
            name="wallet-outline"
            style="color: rgb(255, 79, 91); font-size: 30px;"
          ></ion-icon>
          <br />
          การเติมเงิน
          </div>
        </ion-col>
        <ion-col>
          <div (click)="rewardswallet()">
          <ion-icon
            name="medal-outline"
            style="color: rgb(255, 79, 91); font-size: 30px;"
          ></ion-icon>
          <br />
          Rewards
          </div>
        </ion-col>
      </ion-row>
    </div>
  </ion-slide>

  <div style="justify-content: center; display: flex; margin-top: -120px;">
    <div class="contaier-paylast">
    
      <ion-list>
        <ion-list-header>
          กิจกรรมล่าสุด จ่าย
        </ion-list-header>
        <div class="spinner-container" *ngIf="!!loading">
          <ion-spinner name="lines"></ion-spinner>
        </div>
      
        <ion-item lines="none"  *ngFor="let  item of  history_last_pay">
          <ion-item slot="end" lines="none" style="color: rgb(194, 8, 8);">
            - {{item.grandTotal}} บาท
          </ion-item>
          <ion-label>
            <h3>{{item.itemDesc}} </h3>
            <p> {{item.docDate}} {{item.docTime}} น.</p>
          </ion-label>
        </ion-item>
  
      </ion-list>
    </div>
  </div>
  <div style="justify-content: center; display: flex; margin-top: 40px;">
    <div class="contaier-paylast">
      <ion-list>
        <ion-list-header>
          กิจกรรมล่าสุด เติมเงิน
        </ion-list-header>
        <div class="spinner-container" *ngIf="!!loading">
          <ion-spinner name="lines"></ion-spinner>
        </div>
        <ion-item lines="none"  *ngFor="let  item of  history_last_add">
          <ion-item slot="end" style="color: green;"lines="none">
           + {{item.moveMoney}} บาท
          </ion-item>
          <ion-label>
            <h3>เติมเงิน</h3>
            <p>  {{item.docDate}} {{item.docTime}} น.</p>
          </ion-label>
        </ion-item>
 
   
      </ion-list>
    </div>
  </div>
</ion-content>
